@import 'fx';

body {
    background-color:#efefef;
  }

.cell-title {
    padding:10px 15px;
    font-size:14px;
    color:rgba(69,90,100,.6)
  }
.filed-wrap {
    box-sizing: border-box;
    width:100%;
    padding:10px 15px;
}
  .mt10 {
      margin-top:10px!important;
  }

  .submit {
      background-color:#4b0!important;

      &.van-button--disabled {
          color:#fff;
          opacity:.5;
      }
  }

.btn-outline {
    &.btn-primary {
        border-color:#38f;
        color:#38f;
    }
    display:inline-block;
    padding:2px 10px;
    border:1px solid;
    border-radius: 3px;
}

.text-primary {
    color:#38f;
}

.flex-wrap {
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    overflow: hidden;
}

.flex-scroll {
    width:100%;
    flex:auto;
    overflow:auto;
}

.flex-freeze {
    flex:none;
    width:100%;
}
